[submodule "opt/cope"]
	path = opt/cope
	url = git@github.com:mchataigner/cope.git
[submodule "opt/dfc"]
	path = opt/dfc
	url = https://github.com/mootcube/dfc.git
[submodule ".fonts/ubuntu-mono-powerline"]
	path = .fonts/ubuntu-mono-powerline
	url = https://github.com/scotu/ubuntu-mono-powerline.git
[submodule "opt/ag"]
	path = opt/ag
	url = https://github.com/ggreer/the_silver_searcher.git
