[user]
	name = MoOT
	email = mathieu.chataigner@gmail.com

[alias]
	ls = ls-tree --name-only HEAD
	s = status -s
	st = status -s -uno
	f = fetch
	m = merge
	ci = commit
	cit = commit -uno
	b = branch
	co = checkout
	l = log --decorate
	g = log --graph --decorate --oneline
	gb = log --graph --decorate --oneline --branches
	gr = log --graph --decorate --oneline --remotes
	ga = log --graph --decorate --oneline --all
	logf = log --decorate --name-status
	showf = show --decorate --name-status
	rl = reflog show --decorate
	sb = show-branch
	rb = rebase -i
	hub = push -u origin common
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
